ci:
  skip:
  - cargo-check
  - clippy
  - fmt
repos:
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: cargo-check
  - id: clippy
    args:
    - --
    - -W
    - clippy::pedantic
    - -W
    - clippy::nursery
    - -W
    - clippy::unwrap_used
    - -W
    - clippy::expect_used
  - id: fmt
- repo: https://github.com/nim65s/pre-commit-sort
  rev: v0.4.0
  hooks:
  - id: pre-commit-sort
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
